{% extends 'base.html' %}

{% block head %} 
<title>Private Bilanzerstellung</title>


{% endblock %}

{% block body %}
<h1>Private Bilanzerstellung</h1>
<hr>

<form id="addForm" action="{{ url_for('add_item') }}" method="post">  
    <fieldset>
        <div class="form-group">
            <select id="kat" class="form-control" name="aktivaKat">
                <option value="aktiva_liq">Liquides Vermögen / Bargeld</option>
                <option value="aktiva_immo">Immobilien</option>
            </select>
        </div>
        <div class="form-group">
            <input id="inputAktivaType" class="form-control" type="text" name="aktivaType" placeholder="Typ z.B. Girokonten">
        </div>
        <div class="form-group">
            <input id="inputAktivaValue" class="form-control" type="text" name="aktivaValue" placeholder="Wert">
        </div>
        <button type="submit" class="btn btn-primary" onsubmit="aktivaUpdate()">Hinzufügen</button>
    </fieldset>
</form>

<hr>

<h4>Aktiva / Geldanlagen / Assets</h4>

<!-- Todo: Extract Table to template-->
<table id="liquid" class="table">
    <thead class="thead-light">    
        <tr>
            <th scope="col">Liquides Vermögen / Bargeld</th>
            <th scope="col">100%(tbd)</th>
            <th scope="col">{{ liq_sum }}</th>
            <th scope="col">Löschen</th>
        </tr>
    </thead>
    <tbody>
        {% for liq in aktiva_liq %}     
        <tr>                  
            <th scope="row">{{ liq.type }}</th>
            <td></td>
            <td>{{ liq.value }}</td>
            <td>
                <form action="{{ url_for('delete_item', item_id=liq['_id']) }}" method="post" id="deleteForm">
                    <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteModal">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </td>                    
        </tr>
        {% endfor %}    
    </tbody>
</table>
<table id="immo" class="table">
    <thead class="thead-light">
        <tr>
            <th>Immobilien</th>
            <th>%(tbd)</th>
            <th>{{ immo_sum }}</th>
            <th scope="col">Löschen</th>
        </tr>
    </thead>
    <tbody>
        {% for immo in aktiva_immo %}     
        <tr>                  
            <th scope="row">{{ immo.type }}</th>
            <td></td>
            <td>{{ immo.value }}</td>
            <td>
                <form action="{{ url_for('delete_item', item_id=immo['_id']) }}" method="post" id="deleteForm">
                    <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteModal">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </td>                    
        </tr>
        {% endfor %} 
    </tbody>
</table>

<!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Löschen bestätigen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Möchte Sie den Eintrag löschen?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
            <button type="button" class="btn btn-danger" id="btnDeleteConfirm" data-dismiss="modal">Löschen</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}

