{% extends 'base.html' %}

{% block head %} 
<title>Private Bilanzerstellung</title>
{% endblock %}

{% block body %}
<h1>Private Bilanzerstellung</h1>
<hr>

<form>    
    <fieldset>
        <!-- <legend>Neues Aktiva hinzufügen:</legend> -->
        <div class="form-group">
            <!-- <label for='kat'>Kategorie:</label> -->
            <select id="kat" class="form-control">
                <option value="liq">Liquides Vermögen / Bargeld</option>
                <option value="immo">Immobilien</option>
            </select>
        </div>
        <div class="form-group">
            <!-- <label for='type'>Typ:</label> -->
            <input id='type' class="form-control"type='text' name='type' placeholder="Typ z.B. Girokonten">
        </div>
        <div class="form-group">
            <!-- <label for='value'>Wert:</label> -->
            <input id='value' class="form-control"type='text' name='value' placeholder="Wert">
        </div>
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </fieldset>
</form>

<hr>

<table class="table">
    <tr>
        <th colspan="3">Aktiva = Geldanlagen</th>
    </tr>
    <tr>
        <th>Liquides Vermögen / Bargeld</th>
        <th>%(tbd)</th>
        <th>Summe(tbd)</th>
    </tr>
    <tr>
        {% for p in pbs %}
        <td>Girokonten</td>
        <td></td>
        <td>{{ p.giro }}</td>
        
    </tr>
    <tr>
        <td>Festgelder</td>
        <td></td>
        <td>{{ p.fest }}</td>
        
    </tr>
    <tr>
        <td>Sparbücher</td>
        <td></td>
        <td>{{ p.spar }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Immoblien</th>
        <th>%(tbd)</th>
        <th>Summe(tbd)</th>
    </tr>
    <tr>
        <td>Eigenheime</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Immobilien</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Fonds</td>
        <td></td>
        <td></td>
    </tr>
</table>
{% endblock %}