{% extends 'base.html' %}

{% block head %} 
<title>Private Bilanzerstellung</title>


{% endblock %}

{% block body %}
<h1>Private Bilanzerstellung</h1>
<hr>

<form>    
    <fieldset>
        <!-- <legend>Neues Aktiva hinzufügen:</legend> -->
        <div class="form-group">
            <!-- <label for='kat'>Kategorie:</label> -->
            <select id="kat" class="form-control">
                <option value="liq">Liquides Vermögen / Bargeld</option>
                <option value="immo">Immobilien</option>
            </select>
        </div>
        <div class="form-group">
            <!-- <label for='type'>Typ:</label> -->
            <input id='aktivaType' class="form-control"type='text' name='aktivaType' placeholder="Typ z.B. Girokonten">
        </div>
        <div class="form-group">
            <!-- <label for='value'>Wert:</label> -->
            <input id='aktivaValue' class="form-control"type='text' name='aktivaValue' placeholder="Wert">
        </div>
        <button type="button" class="btn btn-primary" onclick="aktivaUpdate()">Hinzufügen</button>
    </fieldset>
</form>

<hr>

<!-- Todo: Extract Table to template-->
<table id="liquid" class="table">
    <thead class="thead-light">
        <!-- <tr>
            <th colspan="3">Aktiva = Geldanlagen</th>
        </tr> -->

        <tr>
            <th scope="col">Liquides Vermögen / Bargeld</th>
            <th scope="col">%(tbd)</th>
            <th scope="col">Summe(tbd)</th>
            <th scope="col">Löschen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for p in pbs %}
            <th scope="row">Girokonten</th>
            <td></td>
            <td>{{ p.giro }}</td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Festgelder</th>
            <td></td>
            <td>{{ p.fest }}</td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Sparbücher</th>
            <td></td>
            <td>{{ p.spar }}</td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<table id="immo" class="table">
    <thead class="thead-light">
        <tr>
            <th>Immoblien</th>
            <th>%(tbd)</th>
            <th>Summe(tbd)</th>
            <th scope="col">Löschen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Eigenheime</th>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Immobilien</th>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Fonds</th>
            <td></td>
            <td>234234</td>
            <td>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" onclick="aktivaDelete(this)">&times;</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

